<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmls="http://www.w3.org/1999/xhtml">
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header"> 
            <h1 style=" background-color: blue; color: white;">Techshop</h1>
            </header>
        
        <footer th:fragment="footer">
            
            <p>&COPY; Derechos reservados 2022</p>
        </footer>
    </body>
</html>

