<!DOCTYPE html>
<html
    xmlns:sec="http://www.thymeleaf.org"
    xmlns:sec="http://thymeleaf.org/extras/spring-security">    
    <head th:replace="layout/plantilla :: header">        
        <title>techShop</title>          
        <meta charset="UTF-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>    
    </head>    
    <body>        
        <header th:replace="layout/plantilla :: header"/>        
        <div class="contenido"> 
            <section class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cliente/ReporteClientes}">
                                <i class="fas fa-file"></i>Reporte</a>
                                </div>
                                </div>
                                </div> 
            </section>
            <h2>Listado de Clientes</h2>            
            <div th:if="${clientes != null and !clientes.empty}">                
                <table border="1">                    
                    <thead>                        
                        <tr>                            
                            <th>Nombre</th>                            
                            <th>Apellidos</th>                            
                            <th>Correo</th>                            
                            <th>Teléfono</th>                            
                            <th>Límite</th>                            
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Modificar</th>                            
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>                       
                        </tr>                    
                    </thead>                    
                    <tbody>                        
                        <tr th:each="item : ${clientes}">                            
                            <td th:text="${item.nombre}"></td>                            
                            <td th:text="${item.apellidos}"></td>                            
                            <td th:text="${item.correo}"></td>                            
                            <td th:text="${item.telefono}"></td>                             
                            <td th:text="${item.credito.limite}"></td>                            
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/cliente/modificar/} + ${item.idCliente}">Modificar</a></td>                            
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/cliente/eliminar/} + ${item.idCliente}">Eliminar</a></td>                        
                        </tr>                    
                    </tbody>                
                </table>            
            </div>            
            <div th:if="${clientes == null or clientes.empty}">                
                No tenemos lista de clientes para mostrar.
            </div>        
        </div>        
        <footer th:replace="layout/plantilla :: footer" />    
        </body>
        </html>