<!DOCTYPE html>
<html
    xmlns:sec="http://thymeleaf.org/extras/spring-security">    
    <head>        
        <title>techShop</title>        
        <meta charset="UTF-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>    
    </head>    
    <body>        
        <header th:replace="layout/plantilla :: header"/>        
        <div class="contenido">            
            <h2>Listado de Categorias</h2>            
            <a th:href="@{/categoria/nuevo}" 
               sec:authorize="hasRole('ROLE_ADMIN')">Nueva Categoría</a>            
            <div th:if="${categorias != null and !categorias.empty}">                
                <table border="1">                    
                    <thead>                        
                        <tr>                            
                            <th>Descripción</th>                            
                            <th>Activo</th>                            
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Modificar</th>                            
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>                        
                        </tr>                    
                    </thead>                    
                    <tbody>                        
                        <tr th:each="item : ${categorias}">                            
                            <td th:text="${item.descripcion}"></td>                            
                            <td><input type="checkbox" name="activo" th:checked="${item.activo}" disabled="true" /> </td>                            
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/categoria/modificar/} + ${item.idCategoria}">Modificar</a></td>                            
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/categoria/eliminar/} + ${item.idCategoria}">Eliminar</a></td>                        
                        </tr>                    
                    </tbody>                
                </table>            
            </div>            
            <div th:if="${categorias == null or categorias.empty}">                
                No tenemos lista de categorias para mostrar.
            </div>        
        </div>        
        <footer th:replace="layout/plantilla :: footer" />    
        </body>
        </html>
