<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
        <style>
            .contenido{
                text-align: center;
                border-radius: 20px;
                top: 50%;
                left: 50%;
                width: 400px;
                height: 250px;
                background-color: green;
                position: fixed;
                overflow: auto;
                
            }
        </style>
    </head>
    <body>
        <div class="contenido">
            <h2 th:text="#{login.login}" style="text-align: center;">Login</h2>
            <form method="POST" th:action="@{/login}">
                <label th:text="#{login.username}">Username</label> 
                <br/>
                <input type="text" name="username" id="username" />
                <br/>
                <br/>
                <label th:text="#{login.password}">Password</label> 
                <br/>
                <input type="password" name="password" id="password" />
                <br/>
                <br/>
                <button type="submit" value="Login" th:text="#{login.login}">Login</button>
            </form>
        </div>
    </body>
</html>
